@import url('https://fonts.googleapis.com/css?family=Assistant:300');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
	background-color: #dbd3d8;
	margin: auto;
	font-family: 'Assistant', sans-serif;
}
.container {
	background-color: #dbd3d8;
	margin: 3% auto 3% auto;
	max-width: 600px;
	padding: 0;
}
.containerWrap {
	background-color: ##f9f9f9;
}
@media only screen and (max-width: 600px) {
	.container {
		margin: 0 auto 0 auto;
	}
}
.main {
	background-color: #f9f9f9;
	padding-bottom: 20px;
}
h1, .result p, form, footer {
	text-align: center;
}
h1 {
	position: relative;
	background-color: #efefef;
	padding: 2% 0% 2% 0%;
	color: grey;
	border-radius: 10px 10px 0 0;
	font-size: 30px;
}
@media only screen and (max-width: 600px) {
	h1 {
		border-radius: 0;
	}
}
.result p {
	font-size: 25px;
	background-color: #f9f9f9;
}
.timeTake {
	margin-bottom: 5px;
}
.result {
	background-color: #f9f9f9;
	font-size: 0;
	margin: 0;
}
form:first-child {
	padding-top: 10px;
}
form {
	margin: auto;
	position: relative;
	background-color: #f9f9f9;
}
.input {
	padding: 10px 0 10px 0;
}
.input input {
	width: 100px;
}
.input p {
	font-size: 20px;
}
input[type="number"] {
  -moz-appearance: textfield;
	border: 1px solid #cf8e80;
	border-radius: 5px;
	font-size: 16px;
}
input[type="number"]:hover,
input[type="number"]:focus {
  border-width: 3px;
}
input[type="number"]:focus {
  background-color: #cf8e80;
	color: #5e6168;
}
.buttonWrap {
	background-color: #f9f9f9;
	padding-bottom: 20px;
}
button {
	display: block;
	margin: 5% auto 0 auto;
	height: 50px;
	width: 250px;
	color: #f9f9f9;
	font-size: 25px;
	border-radius: 5px;
	border: 0;
}
button, footer {
	background-color: #2aa8c1;
}
footer {
	margin-bottom: 0;
	padding-top: 2%;
	padding-bottom: 2%;
	border-radius: 0 0 10px 10px;
}
footer, footer a {
	color: #000000;
}
footer a:hover {
	color: #f9f9f9;
}
